:root {
    --color-bg: #1a237e;
    --color-p: #eee;
    --color-primary: #48e;
    --color-secundary: #283593;
    --color-shadow: #333;
    /*-- Colores para el grado de "bronce"--*/
    --color-bronce: #8b4513;
    --color-bronce-secundary: #cd7f32;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body {
    background-color: var(--color-bg);
    color: var(--color-p);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.menu-button {
    background-color: var(--color-p);
    color: var(--color-bg);
    border: 2px solid var(--color-p);
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
    background-color: var(--color-bg);
    color: var(--color-p);
}
/* ----------------
                Seccion de creacion de personaje
                                              --------------------- */
#character-creation {
    background-color: var(--color-secundary);
    padding: 20px;
    width: 1440px;
    max-width: 90%;
    display: none;
}

.hidden {
    display: none;
}

label, input, select {
    color: var(--color-p);
}

input, select {
    background-color: var(--color-bg);
    border: 1px solid var(--color-p);
    color: var(--color-p);
    padding: 5px;
}

form {
    text-align: left;
}

/* Formulario de datos del personaje */

#character-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    max-width: 30%;
    border: solid 1px var(--color-p);
}

#character-form {
    padding: 5px;
}
/* Seccion de informacion de raza y trasfondo*/
.cuadro {
    width: 90%;
    height: 100px;
    margin: 5px auto;
}

#cuadro-habilidades, #cuadro-trasfondo {
    background-color: var(--color-primary); /* Se actualizarán según la raza y trasfondo */
}

/* Visualizacion del personaje */
#character-visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 1800px;
    max-width: 50%;
}

.color-rectangle {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#base-color, #sex-color {
    background-color: #333; /* Gris por defecto */
}

/* ----------------------- Fin de la seccion de creacion de personaje -------------------------*/










/* Estilo para el contenedor y botones de las secciones adicionales */
#load-game, #options, #credits {
    background-color: var(--color-bg);
    border: 1px solid var(--color-p);
    padding: 20px;
    display: none;
}

/* Estilo para los botones dentro de Cargar Partida, Opciones y Créditos */
.save-slot {
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--color-p);
    background-color: var(--color-bg);
}

.save-slot button {
    background-color: var(--color-p);
    color: var(--color-bg);
    border: 2px solid var(--color-p);
    padding: 5px 10px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.save-slot button:hover {
    background-color: var(--color-bg);
    color: var(--color-p);
}

/* Botones de retorno en cada sección */
#return-to-menu-load, #return-to-menu-options, #return-to-menu-credits {
    background-color: var(--color-p);
    color: var(--color-bg);
    border: 2px solid var(--color-p);
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#return-to-menu-load:hover, #return-to-menu-options:hover, #return-to-menu-credits:hover {
    background-color: var(--color-bg);
    color: var(--color-p);
}










  /*-------------------------------------------*/
 /*----------- Estilos de Inicio -------------*/
/*-------------------------------------------*/
/*------ Layout ----- */
.layout {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main y Footer */
    grid-template-areas: 
        "header"
        "main"
        "footer";
    height: 100vh; /* Asegura que cubra toda la ventana */
    background-color: var(--color-shadow);
    color: var(--color-p);
}

/* Header, Main, y Footer ocupan sus áreas en el grid */
.header {
    grid-area: header;
    padding: 1rem;
    text-align: center;
}

.main {
    grid-area: main;
    padding: 2rem;
    overflow-y: auto; /* Permite scroll si el contenido es extenso */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--color-bg);
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 1rem;
}
/*-----------Fin de estilos de layout ----------------*/










  /*-------------------------------------------*/
 /*----------- Estilos de Navbar -------------*/
/*-------------------------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bronce);
    padding: 1rem;
    font-weight: bold;
    height: 4rem;
}
.navbar-brand {
    font-size: 1.5rem;
}
.navbar-wallet {
    font-size: 1.2rem;
}
.navbar-links {
    display: flex;
    gap: 1rem;
}
.nav-link {
    color: var(--color-p);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}
.nav-link:hover {
    color: var(--color-bronce-secundary);
}
/*-----------Fin de estilos de Navbar ----------------*/










  /*-------------------------------------------*/
 /*----------- Estilos de Estado -------------*/
/*-------------------------------------------*/
.estado__container {
    display: none;
    color: var(--color-p);
    text-shadow: 2px 2px 6px var(--color-shadow);
    background-color: var(--color-primary);
    border: 2px solid var(--color-bronce-secundary);
    border-radius: 10px;
    height: 80dvh;
    padding: 1rem;
}

.adventure-card {
    color: var(--color-bronce-secundary);
    text-shadow: 2px 2px 6px var(--color-shadow);
    background-color: var(--color-bronce);
    border: 2px solid var(--color-bronce-secundary);
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
    position: relative;
}
.adventure-card h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.adventure-card p {
    font-size: 1.2rem;
}
.close-card-btn {
    color: var(--color-bronce-secundary);
    background-color: var(--color-bronce);
    border: none;
    border-radius: 50%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.close-card-btn:hover {
    background-color: var(--color-bronce-secundary);
    color: var(--color-shadow);
    border-radius: 50%;
}
.estado__info-container {
    height: 50%;
    border-radius: 12px;
    background-color: var(--color-secundary);
}
.estado__info {
    height: 100%;
}
.estado__img-race, .estado__race-sexuality {
    width: 150px;
    height: 150px;
    border: 1px solid var(--color-bg);
    margin: auto;
}
/*--------------------- Inventario -------------------*/
.inventory-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    place-content: center;
    max-width: 70%;
    margin: auto;
}
.inventory-item {
    width: 60px;
    height: 60px;
    background-color: grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}
.carousel-item {
    height: 340px;
    background-color: var(--color-primary);
    border: 3px solid var(--color-secundary);
    border-radius: 8px;
}
/*-----------Fin de estilos de Estado ----------------*/












  /*-------------------------------------------*/
 /*----------- Estilos de Tienda -------------*/
/*-------------------------------------------*/
.shop__container {
    width: 100%;
    margin: 20px 0 20px 0;
    display: block;
}
.item-card, .bag-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.item-image {
    background-color: grey;
    width: 100px;
    height: 100px;
}

#shop-interface {
    max-height: 700px; /* Ajusta según el tamaño deseado */
    width: 900px;
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
    
}

#items-container {
    display: flex;
    flex-direction: column; /* Fuerza que los ítems se apilen verticalmente */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Añade un espacio entre cada ítem */
}

/* Opcional: Estilos de la tarjeta de ítem para una presentación más uniforme */
.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #48e;
    width: 100%; /* Para que no se desborden si el contenedor tiene ancho limitado */
}
.swal-list {
    list-style: none;
}
.swal-list li {
    margin-bottom: 0.5rem;
}
/*-----------Fin de estilos de Tienda ----------------*/




